<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'nonce-{{ .nonce }}'; style-src 'self'; img-src 'self'; base-uri 'none';">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Board</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <form action="/message" method="POST">
        <div class="form-group">
            <label for="spec">Write your message</label>
            <textarea class="form-control"  name="content" placeholder="Some message..." rows="20"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script nonce="{{ .nonce }}" src="/static/raven.min.js" crossorigin="anonymous"></script>
    <script nonce="{{ .nonce }}">Raven.config('https://ca8304b5c2704519b89a304fc82bf839@sentry.io/1240977').install()</script>
</body>
</html>
